
nav{
    widows: 100%;
    text-align: center;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
}

.logo_text {
    font-size: 1.5em;
    text-transform: capitalize;
}
nav  img {
    height: 40px;
    width: 200px;
    vertical-align: middle;
}

.left_menu > img{ 
    height: 16px;
    width: 16px;
    padding: 8px;
    vertical-align: middle;
}

nav  button, 
button {
    background-color: steelblue;
    min-height : 30px;
    color: white;
    align-items: center;
    padding: 11px 12px 8px 12px;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    font-weight: 700;
    border-color: transparent;
    border-radius: 4px;
    cursor: pointer;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    text-align: center;
    padding: 12px 12px 8px 12px;
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 19px;
}

nav a:hover {
    text-decoration: underline;
}

.left_menu{
    float: left;
    text-align: center;
    margin-left: 1.5em;
}

.right_menu{
    float: right;
    text-align: center;
    margin-right: 1.5em;
}

.clear{
    clear: both;
}

a {
    text-decoration: none;
}

strong a {
    color: black;
}

a:hover {
    text-decoration: underline;
}

#nav2 {
    display: none;
}

.container,
.container-two {
    margin: 0 130px 0 130px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.content-header, 
.other-content {
    grid-column: 2;
    padding: 20px;
}

h1 {
    margin: 0;
}

.content-header {
    padding-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: large;
}

.content-image {
    grid-column: 1 / -1;
    padding: 0 80px 0 80px;
}

.content-footer {
    display: block;
    color: grey;
    margin: 5px 200px 50 0px;
    font-size: medium;
}

.content-footer span {
    font-size: small;
}

img {
    width: 100%;
}

.other-content, 
.content-middle,
.mid-content-one,
.mid-content-two {
    font-size: 18px;
    margin: 20px 0 10px 0;
    padding: 0 20px 0 20px;
}

.date-social {
    display: flex;
    justify-content: space-between;
    padding: 30px 10px 50px 0;
}

.content-middle {
    margin: 0;
}

.more-articles {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    padding: 20px;
    text-align: center;
}

.side-right {
    align-self: center;
    padding: 0 0 0 30px;
}

.item-container {
    display: flex;
    margin-top: 5px;
}

.item-container .item-image {
    flex: 37%;
}

.item-container .item-topic {
    flex: 63%;
    padding: 10px;
}

hr {
    color: lightgrey;
    margin-bottom: 15px;
}

.item {
    padding: 20px;
    border: 1px solid #000;
    /* background-color: lightblue; */
}

.container-two {
    grid-auto-rows: minmax(auto);
}

.mid-content-one {
    grid-row: 1;
    grid-column: 2;
}

.container-two > .content-image {
    grid-row: 2;
}

.mid-content-two {
    grid-row: 3;
    grid-column: 2;
}

.content-image > hr {
    width: 10%;
    text-align: start;
    margin-left: 0px;
    text-align: left;
    color: black;
}

iframe {
    margin-top: 20px;
}

.content-end {
    position: relative;
    padding-top: 20px;
    height: 70px;
}

div > .content-footer {
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;
}

.content-end-button {
    position: absolute;
    bottom: 0px;
    left: 0px;
    
}

span.socials {
    text-align: right;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 50%;
}

.grid-items {
    padding: 40px;
    background-color: indianred;
}